@model PagedList.IPagedList<BTL_Nhom13.Models.HoaDon>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Receipt";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section Title{
    Hóa đơn
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<style>
    .normal-text {
        text-transform: none;
    }

    .pagination {
        margin: 0px 0px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6" style="text-align:right">
            @Html.PagedListPager(Model, page => Url.Action("Receipt", new { page }))
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Danh sách hóa đơn</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="text-primary">
                            <th>Tên khách hàng</th>
                            <th>Ngày đặt</th>
                            <th>Tình trạng</th>
                            <th>Phí vận chuyển</th>
                            <th>Hành động</th>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.GioHang.TaiKhoan.TenKhachHang)</td>
                                        <td>@Html.DisplayFor(modelItem => item.NgayDat)</td>
                                        <td>@Html.DisplayFor(modelItem => item.TinhTrang)</td>
                                        <td>@Html.DisplayFor(modelItem => item.PhiShip) VND</td>
                                        @if (!item.TinhTrang.Equals("Đã hủy") && !item.TinhTrang.Equals("Đã giao"))
                                        {
                                            <td>
                                                @Html.ActionLink("Chi tiết", "Details", new { id = item.MaHoaDon }, new { @class = "btn btn-sm btn-primary normal-text" })
                                                @Html.ActionLink("Sửa", "Edit", new { id = item.MaHoaDon }, new { @class = "btn btn-sm btn-primary normal-text" })
                                                @Html.ActionLink("Xóa", "Delete", new { id = item.MaHoaDon }, new { @class = "btn btn-sm btn-primary normal-text" })
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                @Html.ActionLink("Chi tiết", "Details", new { id = item.MaHoaDon }, new { @class = "btn btn-sm btn-primary normal-text" })
                                                @Html.ActionLink("Xóa", "Delete", new { id = item.MaHoaDon }, new { @class = "btn btn-sm btn-primary normal-text" })
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align: right">
        @Html.PagedListPager(Model, page => Url.Action("Receipt", new { page }))
    </div>
</div>