@model BTL_Nhom13.Models.SanPham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section Title{
    Xóa sản phẩm
}
<p style="color:red">@ViewBag.Error</p>
<h3 style="margin:0;">Bạn có chắc muốn xóa sản phẩm này?</h3>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Thông tin sản phẩm sẽ xóa</h4>
                </div>
                <div class="card-body">
                    <form style="cursor:default">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DanhMuc.TenDM, htmlAttributes: new { @class = "bmd-label-floating" })
                                            @Html.EditorFor(model => model.DanhMuc.TenDM, new { htmlAttributes = new { @class = "form-control", @style = "margin-top:2.6rem", disabled = "disabled" } })
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.TenSP, htmlAttributes: new { @class = "bmd-label-floating" })
                                            @Html.EditorFor(model => model.TenSP, new { htmlAttributes = new { @class = "form-control", @style = "margin-top:2.6rem", disabled = "disabled" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.NhaSX, htmlAttributes: new { @class = "bmd-label-floating" })
                                            @Html.EditorFor(model => model.NhaSX, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.TrongLuong, htmlAttributes: new { @class = "bmd-label-floating" })
                                            @Html.EditorFor(model => model.TrongLuong, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.SoLuongTon, htmlAttributes: new { @class = "bmd-label-floating" })
                                            @Html.EditorFor(model => model.SoLuongTon, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Gia, htmlAttributes: new { @class = "bmd-label-floating" })
                                            @Html.EditorFor(model => model.Gia, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ChatLuong, htmlAttributes: new { @class = "bmd-label-floating" })
                                            @Html.EditorFor(model => model.ChatLuong, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MoTa, htmlAttributes: new { @class = "bmd-label-floating" })
                                            @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control", rows = 3, disabled = "disabled" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.Anh, htmlAttributes: new { @class = "bmd-label-floating" })
                                    <br />
                                    @{
                                        string imagePath = "~/wwwroot/image/" + Model.Anh;
                                    }
                                    <img id="output" class="img-rounded" alt="Ảnh" width="250" height="250"
                                         src="@Url.Content(imagePath)" />
                                    <br />
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="submit" value="Xóa" class="btn btn-sm btn-primary normal-text" />
        @Html.ActionLink("Quay lại", "Product", null, new { @class = "btn btn-sm btn-primary normal-text" })
    }
</div>
