@model BTL_Nhom13.Models.SanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section Title{
    Chi tiết sản phẩm
}
<style>
    .dl-horizontal {
        padding-left: 10rem;
    }
    dl dd {
        padding-left: 7rem;
    }
</style>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Anh)
        </dt>

        <dd>
            @{
                string imagePath = "~/wwwroot/image/" + Model.Anh;
            }
            <img src="@Url.Content(imagePath)" width="150" class="img-thumbnail" />
            <br />
            @Html.HiddenFor(model => model.Anh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DanhMuc.TenDM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanhMuc.TenDM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhaSX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhaSX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrongLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrongLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongTon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChatLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChatLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt>
            @Html.ActionLink("Sửa", "Edit", new { id = Model.MaSP }, new { @class = "btn btn-sm btn-primary normal-text" })
            @Html.ActionLink("Quay lại", "Product", null, new { @class = "btn btn-sm btn-primary normal-text" })
        </dt>
    </dl>
</div>
