@model IEnumerable<BTL_Nhom13.Models.SanPham>
@{
    ViewBag.Title = "Product";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section Title{
    Sản phẩm
}
<div class="container-fluid">
    <a href="@Url.Action("Create", "AdminSanPhams")" class="btn btn-outline-primary" role="button" aria-pressed="true">Thêm mới</a>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Quản lý sản phẩm.</h4>
                    <p class="card-category">Danh sách sản phẩm hiện có.</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="text-primary">
                            <th>Tên sản phẩm</th>
                            <th>Nhà sản xuất</th>
                            <th>Số lượng tồn</th>
                            <th>Giá bán</th>
                            <th>Chất lượng</th>
                            <th>Hành động</th>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr onclick="window.location =
        '@Url.Action("Details", "AdminSanPhams", new { id=item.MaSP })';" style="cursor: pointer;">
                                        <td>@Html.DisplayFor(modelItem => item.TenSP)</td>
                                        <td>@Html.DisplayFor(modelItem => item.NhaSX)</td>
                                        <td>@Html.DisplayFor(modelItem => item.SoLuongTon)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Gia)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ChatLuong)</td>
                                        <td>
                                            @Html.ActionLink("Sửa", "Edit", new { id = item.MaSP }) |
                                            @Html.ActionLink("Xóa", "Delete", new { id = item.MaSP })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



