@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section Title{
    Bảng điều khiển
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">inventory_2</i>
                    </div>
                    <p class="card-category">Số lượng sản phẩm trong kho</p>
                    <h3 class="card-title">@ViewBag.soLuongSp</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">update</i> Đã cập nhật
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">store</i>
                    </div>
                    <p class="card-category">Số lượng danh mục sản phẩm</p>
                    <h3 class="card-title">@ViewBag.soLuongDm</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">update</i> Đã cập nhật
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">portrait</i>
                    </div>
                    <p class="card-category">Số lượng tài khoản khách hàng</p>
                    <h3 class="card-title">@ViewBag.soLuongTk</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">update</i> Đã cập nhật
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--=====================-->
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">receipt_long</i>
                    </div>
                    <p class="card-category">Số lượng đơn hàng trong tháng</p>
                    <h3 class="card-title">@ViewBag.soLuongDh</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">update</i> Đã cập nhật
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">paid</i>
                    </div>
                    <p class="card-category">Doanh thu trong tháng</p>
                    <h3 class="card-title">@ViewBag.tongTienThangNay VND</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">update</i> Đã cập nhật
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">monetization_on</i>
                    </div>
                    <p class="card-category">Doanh thu trong năm</p>
                    <h3 class="card-title">@ViewBag.tongTienTrongNam VND</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">update</i> Đã cập nhật
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



