@model IEnumerable<BTL_Nhom13.Models.SanPhamDTO>
@{
    Decimal tongtien = 0;
    Decimal a;
    
}
@foreach (var item in Model)
{
    <tr id="box_cart">
        <td align="center" class="dita_td_info" id="display_cat_img" style="max-width:110px !important">
            <p class="p_MaSP" style="display: none;">@item.MaSP</p>
            <a href="@Url.Action("DetailProduct","Home", new { masp = item.MaSP})">
                <img src="@Url.Content("~/wwwroot/image/" + item.Anh)" alt="@item.TenSP" style="max-width:100px; width:100%">
            </a>
        </td>
        <td class="dita_td_info" valign="top">
            <p><a href="@Url.Action("DetailProduct","Home", new { masp = item.MaSP})">@Html.DisplayFor(Model => item.TenSP)</a></p>
            <p>Giá bán: <strong>@{
                a = decimal.Parse(@Html.DisplayFor(Model => item.Gia).ToString());
                string b = string.Format("{0:0,000}", @a);
            } @b Đ &nbsp;</strong></p>
            <p>
                Số lượng:
                <input oninvalid="this.setCustomValidity('Số lượng mua không thể vượt quá @item.SoLuongTon')" data-slTon="@item.SoLuongTon" class="input_soLuongMua" name="SoLuongMua" type="number" value="@item.SoLuongMua" min="0" max="@item.SoLuongTon"/>
            </p>
            <p>Thành tiền: <strong>
    @{
        a = decimal.Parse(@Html.DisplayFor(Model => item.Gia).ToString());
        a = a*item.SoLuongMua;
        b = string.Format("{0:0,000}", @a);
            } @b Đ  &nbsp;
        </strong></p>
            <p> <a href="#" class="btn-xoagiohang"><span>» Xóa</span></a></p>
        </td>
    </tr>
    tongtien += a;
}

@{ string tt = string.Format("{0:0,000}", @tongtien);}

<tr>
    <td colspan="2" align="left">
        @if (Session["GioHang"] != null)
        {
            <center><button class="dita_register_login btn-xoaAll" style="background: red;border: none;">Xóa giỏ hàng</button></center>
        }
        <div style="float:left; border:0px solid #F00; width:100%; height:auto; ">
            <div style="float:left; padding:10px">
            </div>
            <div style="float:right; padding:10px; min-width:350px">
                <table class="table_shipping">
                    <tbody>
                        <tr>
                            <td align="right" width="200">Tổng giá trị thanh toán:</td>
                            <td align="left">
                                <input type="hidden" name="tong_tien_cat" value="">
                                <strong>@tt Đ</strong>
                                <p style="color:darkred;">Lưu ý: HSV chỉ nhận ship với đơn hàng tối thiểu &gt; 100.000vnđ </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table_shipping" id="fee_shipping">
                    <tbody>
                        <tr>
                            <td align="right" width="200">Phí Giao Hàng:</td>
                            <td align="left">
                                <span> Phí ship 20.000đ - 40.000đ tùy khu vực, nhân viên của HSV sẽ liên hệ để báo cụ thể cho khách hàng</span>
                                <p>Miễn phí ship cho đơn hàng &gt;500.000đ tại nội thành HCM, HN và &gt;800.000đ tại ngoại tỉnh </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <tbody>
                        <tr>
                            <td align="right" width="200">
                                <center><a class="dita_register_login" href="@Url.Action("Home", "Home") ">Tiếp tục mua sắm</a></center>
                            </td>
                            <td align="right" width="600">
                                <a class="dita_register_login" href="@Url.Action("DatHang", "Home") ">Đặt hàng</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </td>
</tr>
<script src="~/wwwroot/js/index.js"></script>