<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" lang="vi">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        Tinh Dầu Thiên Nhiên Hương Sắc Việt - 100% tự nhiên, nguyên chất
    </title>
    <script src="~/wwwroot/js/jquery.min.js"></script>
    <link rel="stylesheet" href="~/wwwroot/css/theme/ditacom_index.css" />
    <link rel="stylesheet" href="~/wwwroot/css/theme/ditacom_pulic.css" />
    <link rel="stylesheet" href="~/wwwroot/css/index.css" />
    @RenderSection("ImportLibraryLogin", required: false)
</head>
<body class="bg_full">
    <!-------------------------------------header--------------------------------------------->
    <section class="section_all top_full" id="page_bg">
        <div class="div_index" id="page_width">
            <article class="article_center">
                <div class="index_top top_full">
                    <div class="header_lang">
                        <a href="@Url.Action("Signin","Home")" title=""> Đăng Ký </a> |
                        <a href="@Url.Action("Login","Home")" title=""> Đăng Nhập </a>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <!-------------------------------------menu--------------------------------------------->
    <section class="section_all menu_full" id="page_bg">
        <div class="div_index" id="page_width">
            <article class="article_center">
                <div class="index_info menu_full">
                    <div class="index_header">
                        <div class="index_header_left">
                            <a href="#"
                               title=""
                               style="float: left; margin-top: -10px; margin-bottom: 10px">
                            </a>
                        </div>
                        <div class="index_header_right">
                            <div class="
                    shopping_01
                    shopping_01_pc
                    shopping_01_ipad
                    shopping_01_ipad
                    shopping_01_mb
                  ">
                                <a href="giohang.html">
                                    <span>Giỏ hàng</span> <strong>0</strong>
                                    <img src="~/wwwroot/image/gio_hang.png" alt="" />
                                </a>
                            </div>
                            <ul class="ul_menu_pc" id="none_display_mb">
                                <li class="ul_menu_pc_border" id="ul_menu_pc_active">
                                    <a href="@Url.Action("Index","Home")" title="Trang chủ">Trang chủ</a>
                                </li>
                                <li class="ul_menu_pc_border">
                                    <a title="Giới thiệu" href="#">Giới thiệu </a>
                                </li>
                                <li class="ul_menu_pc_border">
                                    <a title="Sản phẩm" href="#">Sản phẩm </a>
                                    <ul class="mn_child ul_menu_pc_ul">
                                        @{
                                            Html.RenderAction("_DanhMuc", "Home");
                                        }
                                    </ul>
                                </li>
                                <li class="ul_menu_pc_border">
                                    <a title="Kinh nghiệm" href="#">Kinh nghiệm </a>
                                </li>
                                <li class="ul_menu_pc_border">
                                    <a title="Hỗ trợ" href="#">Hỗ trợ </a>
                                </li>
                                <li class="ul_menu_pc_border">
                                    <a href="https://github.com/doanvu2000/BTL_Nhom13" target="_blank">Liên hệ </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <!-------------------------------------banner--------------------------------------------->
    <section class="section_all" id="page_bg">
        <div class="div_index" id="page_width">
            <article class="article_center">
                <div class="index_info">
                    <div class="index_1"
                         style="background: #e6e6e6; margin-bottom: 0px">
                        <div class="boloc">
                            <div class="div_search">
                                @using (Html.BeginForm())
                                {
                                    <p>
                                        @Html.TextBox("SearchString")
                                        <input type="submit"
                                               placeholder="Nhập nôi dung tìm kiếm"
                                               name="button"
                                               id="button"
                                               value="TÌM KIẾM"
                                               class="div_search_submit" />
                                    </p>
                                }
                            </div>
                            <div class="div_boloc">
                                <ul class="ul_menu_pc" id="none_display_mb">
                                    <li class="ul_menu_pc_border">
                                        <a href="@Url.Action("Index", "Home")">Danh Mục </a>
                                        <ul class="mn_child ul_menu_pc_ul">
                                            @{
                                                Html.RenderAction("_DanhMuc", "Home");
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="div_boloc">
                                <ul class="ul_menu_pc" id="none_display_mb">
                                    <li class="ul_menu_pc_border">
                                        <a href="#">Tìm theo mức giá </a>
                                        <ul class="mn_child ul_menu_pc_ul">
                                            <li>
                                                <a href="@Url.Action("Index","Home",new { beginPrice = 100000, endPrice = 0})">Dưới 100.000 VNĐ</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Index","Home",new { beginPrice = 100000, endPrice = 300000})">100.000 VNĐ - 300.000 VNĐ</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Index","Home",new {beginPrice = 0, endPrice = 300000})">Trên 300.000 VNĐ</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <!-------------------------------------Body--------------------------------------------->
    @RenderBody()

    ﻿<!-------------------------------------Footer--------------------------------------------->
    <section class="section_all" id="page_bg">
        <div class="div_index" id="page_width">
            <article class="article_center">
                <div class="index_info"
                     style="margin-bottom: -50px; z-index: 0; position: relative">
                    <div class="index_1" style="margin-bottom: 0px">
                        <ul class="ul_menu_footer">
                            <li>
                                <a title="Hướng dẫn mua hàng" href="#"><span>&bull; Hướng dẫn mua hàng</span></a>
                            </li>
                            <li>
                                <a title="Hướng dẫn thanh toán" href="#"><span>&bull; Hướng dẫn thanh toán</span></a>
                            </li>
                            <li>
                                <a title="Phương thức giao hàng" href="#"><span>&bull; Phương thức giao hàng</span></a>
                            </li>
                            <li>
                                <a title="Thông tin khuyến mãi" href="#"><span>&bull; Thông tin khuyến mãi</span></a>
                            </li>
                            <li>
                                <a title="Cách dùng đèn xông tinh dầu" href="#"><span>&bull; Cách dùng đèn xông tinh dầu</span></a>
                            </li>
                            <li>
                                <a title="Chính sách đổi trả" href="#"><span>&bull; Chính sách đổi trả</span></a>
                            </li>
                            <li>
                                <a title="Bảng giá máy khuếch tán" href="#"><span>&bull; Bảng giá máy khuếch tán</span></a>
                            </li>
                            <li>
                                <a title="Bảng giá bán lẻ tinh dầu" href="#"><span>&bull; Bảng giá bán lẻ tinh dầu</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
        </div>
    </section>
</body>
<script src="~/wwwroot/js/index.js"></script>
</html>
