@model IEnumerable<BTL_Nhom13.Models.SanPham>
   
@foreach (var item in Model)
{
    <li>
        <dl class="foreach_PTOP_img">
            @{
                string path = "~/wwwroot/image/" + item.Anh;
            }
            <a href="@Url.Action("DetailProduct", "Home", new { masp=item.MaSP })">
                <img src="@Url.Content(path)" />
            </a>
        </dl>
        <dl class="foreach_PTOP_title">
            <ol class="foreach_PTOP_name">
                <a href="@Url.Action("DetailProduct", "Home", new { masp=item.MaSP })"><span style="text-transform:none !important;">@item.TenSP</span></a>
                @{ 
                    string gia = string.Format("{0:0,000}", @item.Gia);
                }
                <p>@gia VNĐ</p>
            </ol>
        </dl>
    </li>
}
