<div class="sidebar"
     data-color="purple"
     data-background-color="white"
     data-image="img/sidebar-1.jpg">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
    -->
    <div class="logo" style="background-color: cornflowerblue;">
        <a href="@Url.Action("Index", "Home")"> <img src="~/wwwroot/image/logo.png" width="70" height="50" style="float:left;padding-left:5px" /></a>
       
        <a href="@Url.Action("Index", "Home")" class="simple-text logo-normal"> NHÓM 13 </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="@(ViewContext.RouteData.Values["controller"].ToString()=="Home"?
                "nav-item active" : "nav-item")">
                <a class="nav-link" href="@Url.Action("Index", "Home")">
                    <i class="material-icons">dashboard</i>
                    <p>Bảng điều khiển</p>
                </a>
            </li>
            <li class="@(ViewContext.RouteData.Values["controller"].ToString()=="AdminSanPhams"?
                "nav-item active" : "nav-item")">
                <a class="nav-link" href="@Url.Action("Product", "AdminSanPhams")">
                    <i class="material-icons"> inventory_2 </i>
                    <p>Sản phẩm</p>
                </a>
            </li>
            <li class="@(ViewContext.RouteData.Values["controller"].ToString()=="AdminDanhMucs"?
                "nav-item active" : "nav-item")">
                <a class="nav-link" href="@Url.Action("Category", "AdminDanhMucs")">
                    <i class="material-icons">category</i>
                    <p>Danh mục</p>
                </a>
            </li>
            <li class="@(ViewContext.RouteData.Values["controller"].ToString()=="AdminHoaDons"?
                "nav-item active" : "nav-item")">
                <a class="nav-link" href="@Url.Action("Receipt", "AdminHoaDons")">
                    <i class="material-icons">receipt</i>
                    <p>Hóa đơn</p>
                </a>
            </li>
            <li class="@(ViewContext.RouteData.Values["controller"].ToString()=="AdminTaiKhoans"?
                "nav-item active" : "nav-item")">
                <a class="nav-link" href="@Url.Action("Account", "AdminTaiKhoans")">
                    <i class="material-icons">portrait</i>
                    <p>Tài khoản Quản trị</p>
                </a>
            </li>
            <li class="@(ViewContext.RouteData.Values["controller"].ToString()=="AdminKhachHangs"?
                "nav-item active" : "nav-item")">
                <a class="nav-link" href="@Url.Action("Customer", "AdminKhachHangs")">
                    <i class="material-icons">supervisor_account</i>
                    <p>Khách hàng</p>
                </a>
            </li>
        </ul>
    </div>
</div>
