@model IEnumerable<BTL_Nhom13.Models.TaiKhoan>
@{
    ViewBag.Title = "Account";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section Title{
    Tài khoản
}
<div class="container-fluid">
    <a href="@Url.Action("Create", "AdminTaiKhoans")" class="btn btn-outline-primary" role="button" aria-pressed="true">Thêm mới</a>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Quản lý tài khoản</h4>
                    <p class="card-category">Danh sách tài khoản</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="text-primary">
                            <th>Tên tài khoản</th>
                            <th>Mật khẩu</th>
                            <th>Quyền</th>
                            <th>Trạng thái(kích hoạt)</th>
                            <th>Tên khách hàng</th>
                            <th>Email</th>
                            <th>Số điện thoại</th>
                            <th>Địa chỉ</th>
                            <th>Hành động</th>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.TenTaiKhoan)</td>
                                        <td>@Html.DisplayFor(modelItem => item.MatKhau)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Quyen)</td>
                                        <td>@Html.DisplayFor(modelItem => item.TinhTrang)</td>
                                        <td>@Html.DisplayFor(modelItem => item.TenKhachHang)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                        <td>@Html.DisplayFor(modelItem => item.SoDienThoai)</td>
                                        <td>@Html.DisplayFor(modelItem => item.DiaChi)</td>
                                        <td>
                                            @Html.ActionLink("Sửa", "Edit", new { id = item.TenTaiKhoan })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
