@model BTL_Nhom13.Models.TaiKhoan

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section Title{
    Sửa thông tin tài khoản
}
<style>
    .form-horizontal {
        padding-left: 7rem;
    }

    .col-md-10 {
        padding-left: 8rem;
    }

    .control-label, .bmd-form-group label {
        color: black;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.TenTaiKhoan)

    <div class="form-group">
        @Html.LabelFor(model => model.MatKhau, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control", @Value = Model.MatKhau } })
            @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.HiddenFor(model => model.Quyen)

    @if (!Model.TenTaiKhoan.Equals(Session["TenTaiKhoan"]))
    {
        <div class="form-group">
            @Html.LabelFor(model => model.TinhTrang, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.TinhTrang)
                    @Html.ValidationMessageFor(model => model.TinhTrang, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    } else
                {
                    @Html.HiddenFor(model => model.TinhTrang)
                }

    @Html.HiddenFor(model => model.TenKhachHang)
    @Html.HiddenFor(model => model.Email)
    @Html.HiddenFor(model => model.SoDienThoai)
    @Html.HiddenFor(model => model.DiaChi)

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu" class="btn btn-sm btn-primary normal-text" />
            @Html.ActionLink("Quay lại", "Account", null, new { @class = "btn btn-sm btn-primary normal-text" })
        </div>
    </div>
</div>
}
@if (ViewBag.Error != null)
{
    <br />
    <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
