@model PagedList.IPagedList<BTL_Nhom13.Models.DanhMuc>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Category";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section Title{
    Danh mục
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<style>
    .normal-text {
        text-transform: none;
    }

    .pagination {
        margin: 0px 0px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <a href="@Url.Action("Create", "AdminDanhMucs")" class="btn btn-primary btn-sm normal-text" role="button">Thêm mới</a>
        </div>
        <div class="col-sm-6" style="text-align:right">
            @Html.PagedListPager(Model, page => Url.Action("Category", new { page }))
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Danh sách các danh mục</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="text-primary">
                            <th>Mã danh mục</th>
                            <th>Tên danh mục</th>
                            <th>Hành động</th>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.MaDM)</td>
                                        <td>@Html.DisplayFor(modelItem => item.TenDM)</td>
                                        <td>
                                            @Html.ActionLink("Sửa", "Edit", new { id = item.MaDM }, new { @class = "btn btn-sm btn-primary normal-text" })
                                            @Html.ActionLink("Xóa", "Delete", new { id = item.MaDM }, new { @class = "btn btn-sm btn-primary normal-text" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align: right">
        @Html.PagedListPager(Model, page => Url.Action("Category", new { page }))
    </div>
</div>

