@model BTL_Nhom13.Models.DanhMuc

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section Title{
    Xóa danh mục
}
<style>
    .dl-horizontal {
        padding-left: 10rem;
    }

    dl dd {
        padding-left: 8rem;
    }
</style>
<h3>Bạn có chắc muốn xóa danh mục này?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenDM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDM)
        </dd>
        <dt>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="Xóa" class="btn btn-sm btn-primary normal-text" />
                @Html.ActionLink("Quay lại", "Category", null, new { @class = "btn btn-sm btn-primary normal-text" })
            }
        </dt>
    </dl>
</div>
@if (ViewBag.Error != null)
{
    <br />
    <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
}
